.product__item {
    box-sizing: border-box;
    text-decoration: none;
    padding-bottom: 21px;
    transition: all 0.3s;
    &-img {
      display: block;
      transition: inherit;
    }
    &-bkgr {
      transition: inherit;
      position: relative;
      background-color: $black;
    }
    &-button {
      transition: inherit;
      width: 123px;
      height: 39px;
      position: absolute;
      z-index: 1;
      top: 94px;
      left: 70px;
      padding-left: 43px;
      white-space: nowrap;
      font-size: 13px;
      color: white;
      background-color: transparent;
      background-image: url(../img/cart_white.png);
      background-repeat: no-repeat;
      background-size: 22px;
      background-position: 12px center;
      border: solid 1px #ffffff;
      border-radius: 2px;
      display: none;
    }
    &-name {
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 17px;
      color: $black;
    }
    &-price {
      font-size: 16px;
      font-weight: 700;
      color: $pink;
    }
    &-heading {
      margin-top: 19px;
      margin-left: 15px;
    }
  }
.product__item:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}
.product__item:hover .product__item-button {
  display: inline-block;
}
.product__item:hover .product__item-img {
  opacity: 0.25;
}
.product__item-button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #9ecaed;
}

.product__item_margin{
  margin-bottom: 39px;
}