.logo {
  display: flex;
  &__icon {
    height: 51px;
  }
  &__text {
    margin-top: 13px;
    margin-left: 12px;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: $spacing;
    color: $black;
    &_red {
      color: $pink;
      font-weight: 900;
    }
  }
}
