@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans&display=swap');
h1,
h2,
h3,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
select::-ms-expand {
  display: none;
}
button{
  
}