@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

h1,
h2,
h3,
h6,
ul,
fieldset,
p {
  margin: 0;
  padding: 0;
}
fieldset{
  border: none;
}
body {
  font-family: Lato;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
select::-ms-expand {
  display: none;
}
button {
}
