@import 'variables';
@import 'top-triangle';
@import 'link';
@import 'animation';
@import '../header/header';
@import '../product__item/product__item';
@import '../footer/footer';
@import 'base-style';

.main {
  margin-top: 89px;
  margin-bottom: 93px;
}
.checkout {
  border-bottom: $border;
  padding-bottom: 30px;
  &:not(:first-of-type) {
    margin-top: 30px;
  }
  &__heading {
    font-size: 16px;
    font-weight: 700;
    color: $black;
  }
  &_open {
    padding-bottom: 79px;
  }
}
