@import 'variables';
@import 'top-triangle';
@import 'link';
@import 'animation';
@import '../header/header';
@import '../product__item/product__item';
@import '../footer/footer';
@import 'base-style';

.breadcrumbs{
  display: none;
}
.main {
  height: 613px;
  background-color: #e8e8e8;
  background-image: url('../img/main_bkgr.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
}
.main__heading_container::before {
  display: block;
  height: 95px;
  width: 12px;
  margin-right: 12px;
  margin-top: 13px;
  background-color: $pink;
  content: '';
}
.main__heading_container {
  display: flex;
  padding-top: 224px;
}
.main__heading {
  margin: 0;
}
.main__heading_firstline {
  font-size: 60px;
  letter-spacing: 1.5px;
  font-weight: 900;
  color: $black;
}
.main__heading_secondline {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
}
.main__heading_red {
  color: $pink;
}
.deal-zone {
  margin-top: 98px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  &__img {
    display: block;
  }
  &__item {
    display: block;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.5s;
    &_heading {
      box-sizing: border-box;
      padding: 9px 16px 12px 19px;
      position: absolute;
      min-height: 82px;
      background-color: white;
      top: 26px;
      transition: inherit;
    }
    &:hover {
      transform: scale(1.03);
      box-shadow: $pink 0 0 15px;
    }
    &:hover &_heading {
      background-color: $pink;
      &-pink {
        color: white;
      }
    }
  }
  &__item_heading-black {
    display: inline-block;
    font-weight: 900;
    letter-spacing: 0.45px;
    color: $black;
    font-size: 18px;
    margin-bottom: 2px;
  }
  &__item_heading-pink {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.75px;
    color: $pink;
  }
}
.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 113px;
  &__text {
    text-align: center;
    margin-bottom: 60px;
  }
  &__text_heading {
    margin-bottom: 16px;
    font-size: 30px;
    letter-spacing: 0.75px;
    color: $black;
  }
  &__text_paragraph {
    font-size: 14px;
    letter-spacing: $spacing;
    color: #9f9f9f;
  }
  &__button {
    border: 1px solid $pink;
  
    white-space: nowrap;
    background-color: $pink;
    align-self: center;
    padding: 12px 19px 14px 24px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: $spacing;
    color: #ffffff;
    transition: all 0.3s;
  }
}
.product__catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.offer {
  display: flex;
  margin-bottom: 97px;
  &__banner {
    position: relative;
    &_heading {
      position: absolute;
      top: 146px;
      left: 39px;
      color: #ffffff;
      letter-spacing: $spacing;
      &-1 {
        font-size: 54px;
        font-weight: 700;
      }
      &-pink {
        color: $pink;
      }
      &-2 {
        font-size: 32px;
      }
    }
    &_img {
      display: block;
    }
  }
  &__cardbox {
    background-color: $black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 33px;
    &_card {
      display: flex;
      margin-left: 36px;
      &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 47px;
        height: 40px;
      }
      &_text {
        margin: 6px 20px 0 34px;
        letter-spacing: $spacing;
        color: #fbfbfb;
        &-heading {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 21px;
        }
        &-p {
          line-height: 24px;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}
