@import 'variables';
@import 'top-triangle';
@import 'link';
@import 'animation';
@import '../header/header';
@import '../product__item/product__item';
@import '../footer/footer';
@import 'base-style';

.shopping-cart-container {
  display: flex;
  justify-content: space-between;
  border-bottom: $border;
  padding-bottom: 20px;
  &__wrapper{
    width: 450px;
  }
  &__heading {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.015em;
    color: $black;
  }
}
.shopping-cart {
  margin-top: 86px;
}
