$pink: #f16d7f;
$black: #222222;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body{
  font-family: Lato;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}
.header-flex {
  display: flex;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
}
.logo__header {
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: $black;
}
.D {
  color: $pink;
  font-weight: 900;
}

.my-acc {
  display: block;
  color: white;
  background-color: $pink;
  padding: 13px 20px;
  text-decoration: none;
}
